.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
plot_manual.html
k_anon_demo.qmd
k_anon_scenario_1.mp4
k_anon_scenario_2.mp4
k_anon_scenario_3.mp4
k_anon_scenario_4.mp4
plot_manual.html
temp_01_MCE_Initial_WS.mp4.html
temp_01_MCE_Initial.mp4.html